<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="/img/newsletter.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/sucess.css">
    <title>Formulario de inscrição</title>
</head>

<body>
    <header>
        <h1 class="headerTittle">
            Assine nossa newsletter
        </h1>
    </header>

    <main>
        <ul>
            <% newsletterList.forEach(user => { %>
                
           <% }); %>
        </ul>
    </main>

</body>

</html>