<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="/img/newsletter.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/sucess.css">
    <title>Sucesso!</title>
</head>

<body>
    <header>
        <h1 class="headerTittle">
            Formulario de inscrição enviado com sucesso
        </h1>
    </header>

    <main>
        <section class="sucess-sct">
            <div class="border-img">
                <img src="/img/success.png" alt="" class="sucess-img">
            </div>
            <p>O formulário foi enviado com exito, volte para a pagina de de envio para enviar um novo ou visualise seus formulários enviados.</p>
            <div class="actions-btn">
                <a href="/newsletter-registered" class="view-registered-btn" id="viewRegisteredBtn">VISUALIZAR ENVIADOS</a>
                <a href="/home" class="send-new-btn" id="sendNewBtn">ENVIAR NOVO FORMULÁRIO</a>
            </div>
        </section>
    </main>

    <script src="/src/sucess.js"></script>
</body>

</html>